
.my-wrapper{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    min-height: 100%;
   
}

.my-wrapper > div{
    flex-shrink: 0;
}

.my-footer{
    flex-shrink: 0;
}
.my-main{
    flex-grow: 1;
    flex-shrink: 0;
}

.my-status-option{
    cursor: pointer;
}

.my-status-option-list{
    z-index: 100000;
}

.my-status-option a{
    padding: 2px 4px !important;
}

.my-edit-img{
    max-width:300px ;
    width: 100%;
}

.my-product-img{
    max-width:300px ;
    width: 100%;
}

.modal-header .close{
    padding: 0;
    margin: 0;
}

@media (max-width: 767px){
    .add-product a {
        display: block;
    }
}


.dropdown-toggle::after{
    display: none;
}

.navbar-nav{
    display: block;
}

.my-attribute-input-color {
    display: block;
    width: 20px;
    height: 20px;
    border: none;
    color: rgba(0, 0, 0, 0) !important;
}

.my-attribute-input{
    border: none;
    font-size: 14px;
    color: #303030;
    font-family: 'Roboto', sans-serif;
    outline: none;
}

.dropzone.dz-clickable * {
    cursor: unset ;
}

.my-pagination{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 20px;
    padding-left: 20px;
}

.my-page-item{
    margin: 0;
   
   
    
   
}

.my-page-link{
    margin: 0;
    font-weight:unset;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px solid #e9ecef;
    transition: .2s;
}

.my-page-link:hover{
    background-color: #eee;
}

.my-page-link.my-current-page{
    background-color: #2E6BE8;
    color: #fff;
    transition: .2s;
}

.my-page-link.my-current-page:hover{
    background-color: #4784ff;
    color: #fff;
}

.my-page-button{
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    cursor: pointer;
    border: 1px solid #e9ecef;
    padding: 0 10px;
    transition: .2s;
    font-weight: unset;
}

.my-page-button:hover{
    background-color: #eee;
}

.my-page-item:first-child .my-page-button{
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.my-page-item:last-child .my-page-button{
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

#imagePreviewContainer .dz-preview{
    position: relative;
    background-color: unset;
    bottom: 0;
}

#create-brand-form{
    cursor: unset !important;
    padding: 0 !important;
}

#create-category-form{
    cursor: unset !important;
    padding: 0 !important;
}

#edit-brand-form{
    cursor: unset !important;
}

#edit-category-form{
    cursor: unset !important;
}

#search-form button{
    position: absolute;
    top: 8px;
    right: 5px;
    color: #999;
    transition: .5s ease-out;
    font-size: 14px;
    background: none;
    border: none;
    outline: none;
}

.my-search-row{
    padding: 20px;
    background: #fff;
    margin: 10px 0;
}


#update-image-form{
    cursor: unset !important;
    padding: 0 !important;
    border: none;
}

.my-search-group{
    width: 200px;
    position:relative;
}

.login-failed{
    text-transform: capitalize;
    color: red;
    font-size: 14px;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

#invalid-confirm-password{
    text-transform: capitalize;
    color: red;
    font-size: 14px;
    padding: 0;
    margin-bottom: 20px;
    font-weight: 400;
    display: none;
    font-family: 'Roboto', sans-serif;
}
