{{#section 'head'}}
     <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Product Details</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
        <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="single-pro-review-area mt-t-30 mg-b-15">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="add-product">
                  <a href="/products/edit/1" style="color: black; position: relative; background: transparent; padding: 0px"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                  <a href="#" style="color: black; position: relative; background: transparent; padding: 0px"><button data-toggle="modal" data-target="#DangerModalalert" title="Edit" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                  <!-- <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert" style="color: black; position: relative; background: transparent; padding: 0px"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
              </div>
              <div class="product-payment-inner-st">
                  <ul id="myTabedu1" class="tab-review-design">
                      <li class="active"><a href="#description">Details</a></li>
                      <li><a href="#reviews">Images</a></li>
                      <li><a href="#INFORMATION">Reviews</a></li>
                  </ul>
                  <div id="myTabContent" class="tab-content custom-product-edit">
                      <div class="product-tab-list tab-pane fade active in" id="description">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="review-content-section">
                                      <form action="#" id="demo1-upload">
                                          <div class="row">
                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                  <label>Name:</label>
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" required="" placeholder="Name" value="Luxury Crazy Bunny" readonly="">
                                                  </div>
                                                  <label>Brand:</label>
                                                  <div class="form-group">
                                                      <!-- <select class="form-control">
                      <option selected="">Crazy Bunny</option>
                      <option>Moustache Monster</option>
                                                          <option>Crazy Rockpanda</option>
                                                          <option>Zombie Popsicle</option>
                                                          <option>Devil Monster</option>
                    </select> -->
                                                      <input type="text" class="form-control" required="" placeholder="Brand" value="Crazy Bunny" readonly="">
                                                  </div>
                                                  <label>Category:</label>
                                                  <div class="form-group">
                                                      <!-- <select class="form-control">
                      <option selected="">T-Shirt</option>
                      <option>Backpack</option>
                                                          <option>Cap</option>
                                                          <option>Sneaker</option>
                    </select> -->
                                                      <input type="text" class="form-control" required="" placeholder="Category" value="T-Shirt" readonly="">
                                                  </div>
                                                  <label>Created date:</label>
                                                  <!-- <div class="form-group data-custon-pick" id="data_2">
                                                      <div class="input-group date">
                                                          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                                          <input name="birthdate" type="text" class="form-control" value="16/11/2021" readonly="">
                                                      </div>
                                                  </div> -->
                                                  <div class="form-group">
                                                      <input name="birthdate" type="text" class="form-control" value="16/11/2021" readonly="">
                                                  </div>
                                                  <label>Quantity sold:</label>
                                                  <div class="form-group">
                                                      <input type="number" class="form-control" required="" value="11200" readonly="">
                                                  </div>
                                                  <!-- <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Course Duration" value="6 Months">
                                                  </div>
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Course Price" value="$400">
                                                  </div> -->
                                              </div>
                                              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                  <label>Gender:</label>
                                                  <div class="form-group">
                                                      <!-- <select class="form-control">
                                                          <option selected="">Male</option>
                                                          <option>Female</option>
                                                          <option>Unisex</option>
                                                      </select> -->
                                                      <input type="text" class="form-control" required="" placeholder="Gender" value="Male" readonly="">
                                                  </div>
                                                  <label>Summary description:</label>
                                                  <div class="form-group res-mg-t-15">
                                                      <input type="text" class="form-control" required="" value="Lorem ipsum dolor sit amet of" readonly="">
                                                  </div>
                                                  <label>Full description:</label>
                                                  <div class="form-group edit-ta-resize">
                                                      <textarea name="description" required="" readonly="">Lorem ipsum dolor sit amet of, consectetur adipiscing elitable. Vestibulum tincidunt est vitae ultrices accumsan.</textarea>
                                                  </div>
                                                  <div class="form-group edit-ta-resize">
                                                      <input type="checkbox" class="i-checks" checked readonly="" disabled=""> Mark as <b>Featured Product</b>
                                                  </div>
                                                  <!-- <div class="checkbox col-lg-12">
                                                      <input type="checkbox" class="i-checks" checked> Sigh up for our newsletter
                                                  </div> -->
                                                  <!-- <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Course Professor" value="Selima sha">
                                                  </div>
                                                  <div class="form-group">
                                                      <input type="text" class="form-control" placeholder="Year" value="1 Year">
                                                  </div> -->
                                              </div>
                                          </div>
                                          <div class="row">
                                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                  <div class="product-status-wrap drp-lst">
                                                      <h4>Attributes List</h4>
                                                      <!-- <div class="add-product">
                                                          <a href="#" data-toggle="modal" data-target="#addAttributesModal">Add Attributes</a>
                                                      </div> -->
                                                      <div class="asset-inner">
                                                          <table>
                                                              <tr>
                                                                  <th>No</th>
                                                                  <th>Color</th>
                                                                  <th>Size</th>
                                                                  <th>Quantity</th>
                                                                  <th>Price ($)</th>
                                                                  <!-- <th>Setting</th> -->
                                                              </tr>
                                                              <tr>
                                                                  <td>1</td>
                                                                  <td><button style="background-color: #39f5dc; width: 20px; height: 20px;" disabled=""></button></td>
                                                                  <td>Small</td>
                                                                  <td>35</td>
                                                                  <td>1500</td>
                                                                  <!-- <td>
                                                                      <a href="#" data-toggle="modal" data-target="#editAttributesModal" data-color="#39f5dc" data-size="Small" data-quantity="35" data-price="1500" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                                      <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                  </td> -->
                                                              </tr>
                                                              <tr>
                                                                  <td>2</td>
                                                                  <td><button style="background-color: #39f5dc; width: 20px; height: 20px;" disabled=""></td>
                                                                  <td>Medium</td>
                                                                  <td>40</td>
                                                                  <td>1540</td>
                                                                  <!-- <td>
                                                                      <a href="#" data-toggle="modal" data-target="#editAttributesModal" data-color="#39f5dc" data-size="Medium" data-quantity="40" data-price="1540" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                                      <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                  </td> -->
                                                              </tr>
                                                              <tr>
                                                                  <td>3</td>
                                                                  <td><button style="background-color: #f57539; width: 20px; height: 20px;" disabled=""></td>
                                                                  <td>Medium</td>
                                                                  <td>30</td>
                                                                  <td>1560</td>
                                                                  <!-- <td>
                                                                      <a href="#" data-toggle="modal" data-target="#editAttributesModal" data-color="#f57539" data-size="Medium" data-quantity="30" data-price="1560" style="color: black;"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                                                      <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                                  </td> -->
                                                              </tr>
                                                          </table>
                                                      </div>

                                                  </div>
                                              </div>
                                          </div>
       
                                      </form>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="product-tab-list tab-pane fade" id="reviews">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="review-content-section">
                                      <!-- <div id="dropzone1" class="pro-ad addcoursepro">
                                          <form action="#" class="dropzone dropzone-custom needsclick add-professors" id="demo1-upload"> -->
                                              <div class="row">
                                                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                                                      <div class="form-group">
                                                          <label>Image 1:</label>
                                                      </div>
                                                      <div class="form-group">
                                                          <img class="my-product-img" src="/img/items/01.png" alt="" />
                                                          <!-- <button data-toggle="tooltip" title="Delete" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                      </div>
                                                      <div class="form-group">
                                                          <label>Image 2:</label>
                                                      </div>
                                                      <div class="form-group">
                                                          <img class="my-product-img" src="/img/items/01.png" alt="" />
                                                          <!-- <button data-toggle="tooltip" title="Delete" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                      </div>
                                              
                                                  </div>
                                                 
                                              </div>

                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="product-tab-list tab-pane fade" id="INFORMATION">
                          <div class="row">
                              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                  <div class="review-content-section">
                                      <div class="chat-discussion" style="height: auto">
                                          <div class="chat-message">
                                              <!-- <div class="profile-hdtc">
                                                    <img class="message-avatar" src="img/contact/1.jpg" alt="">
                                              </div> -->
                                              <div class="message" style="margin-left: 0px">
                                                  <a class="message-author" href="/users/guest/1"> Michael Smith </a>
                                                  <span class="message-date"> Mon Jan 26 2015 - 18:39:23 </span>
                                                  <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                  <span class="message-content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                                                  </span>
                                                  <div class="m-t-md mg-t-10">
                                                      <div class="review-item-rating">
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star-half"></i>
                                                      </div>
                                                      <!-- <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                      <!-- <a class="btn btn-xs btn-default"><i class="fa fa-trash-o"></i></a> -->
                                                      <!-- <a class="btn btn-xs btn-success"><i class="fa fa-heart"></i> Love</a> -->
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="chat-message">
                                              <!-- <div class="profile-hdtc">
                                                    <img class="message-avatar" src="img/contact/2.jpg" alt="">
                                              </div> -->
                                              <div class="message" style="margin-left: 0px">
                                                  <a class="message-author" href="/users/guest/1"> Karl Jordan </a>
                                                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                  <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                  <span class="message-content">
                                                          Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover.
                                                          </span>
                                                  <div class="m-t-md mg-t-10">
                                                      <div class="review-item-rating">
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star-half"></i>
                                                      </div>
                                                      <!-- <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="chat-message">
                                              <!-- <div class="profile-hdtc">
                                                    <img class="message-avatar" src="img/contact/3.jpg" alt="">
                                              </div> -->
                                              <div class="message" style="margin-left: 0px">
                                                  <a class="message-author" href=""> Mark Smith </a>
                                                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                  <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                  <span class="message-content">
                                                          There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration.
                                                          </span>
                                                  <div class="m-t-md mg-t-10">
                                                      <div class="review-item-rating">
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                      </div>
                                                      <!-- <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                  </div>
                                              </div>
                                          </div>
                                          <div class="chat-message">
                                              <!-- <div class="profile-hdtc">
                                                    <img class="message-avatar" src="img/contact/4.jpg" alt="">
                                              </div> -->
                                              <div class="message" style="margin-left: 0px">
                                                  <a class="message-author" href=""> Alice Jordan </a>
                                                  <span class="message-date">  Fri Jan 25 2015 - 11:12:36 </span>
                                                  <span class="message-content"><b>Lorem ipsum dolor sit amet</b></span>
                                                  <span class="message-content">
                                                          All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
                                                              It uses a dictionary of over 200 Latin words.
                                                          </span>
                                                  <div class="m-t-md mg-t-10">
                                                      <div class="review-item-rating">
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                          <i class="educate-icon educate-star"></i>
                                                      </div>
                                                      <!-- <button title="Delete" class="pd-setting-ed" data-toggle="modal" data-target="#DangerModalalert1"><i class="fa fa-trash-o" aria-hidden="true"></i></button> -->
                                                  </div>
                                              </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div id="DangerModalalert" class="modal modal-edu-general FullColor-popup-DangerModal fade" role="dialog">
                  <div class="modal-dialog">
                      <div class="modal-content">
                          <div class="modal-close-area modal-close-df">
                              <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                          </div>
                          <div class="modal-body">
                              <span class="educate-icon educate-danger modal-check-pro information-icon-pro"></span>
                              <h2>Delete this product?</h2>
                              <!-- <p>If you delete this product, they can not access the shop's website anymore.</p> -->
                          </div>
                          <div class="modal-footer danger-md">
                              <a data-dismiss="modal" href="#">Cancel</a>
                              <a href="/products">Delete</a>
                          </div>
                      </div>
                  </div>
              </div>

          </div>
      </div>
  </div>
</div>

{{#section 'script'}}
<!-- jquery
    ============================================ -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="/js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="/js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="/js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="/js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="/js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="/js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="/js/jquery.scrollUp.min.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="/js/counterup/jquery.counterup.min.js"></script>
<script src="/js/counterup/waypoints.min.js"></script>
<script src="/js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="/js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="/js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="/js/metisMenu/metisMenu.min.js"></script>
<script src="/js/metisMenu/metisMenu-active.js"></script>
<!-- data table JS
    ============================================ -->
<script src="/js/data-table/bootstrap-table.js"></script>
<script src="/js/data-table/tableExport.js"></script>
<script src="/js/data-table/data-table-active.js"></script>
<script src="/js/data-table/bootstrap-table-editable.js"></script>
<script src="/js/data-table/bootstrap-editable.js"></script>
<script src="/js/data-table/bootstrap-table-resizable.js"></script>
<script src="/js/data-table/colResizable-1.5.source.js"></script>
<script src="/js/data-table/bootstrap-table-export.js"></script>
<!--  editable JS
    ============================================ -->
<script src="/js/editable/jquery.mockjax.js"></script>
<script src="/js/editable/mock-active.js"></script>
<script src="/js/editable/select2.js"></script>
<script src="/js/editable/moment.min.js"></script>
<script src="/js/editable/bootstrap-datetimepicker.js"></script>
<script src="/js/editable/bootstrap-editable.js"></script>
<script src="/js/editable/xediable-active.js"></script>
<!-- Chart JS
    ============================================ -->
<script src="/js/chart/jquery.peity.min.js"></script>
<script src="/js/peity/peity-active.js"></script>
<!-- tab JS
    ============================================ -->
<script src="/js/tab.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="/js/morrisjs/raphael-min.js"></script>
<script src="/js/morrisjs/morris.js"></script>
<script src="/js/morrisjs/morris-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="/js/sparkline/jquery.sparkline.min.js"></script>
<script src="/js/sparkline/jquery.charts-sparkline.js"></script>
<script src="/js/sparkline/sparkline-active.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="/js/calendar/moment.min.js"></script>
<script src="/js/calendar/fullcalendar.min.js"></script>
<script src="/js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="/js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="/js/main.js"></script>
<!-- tawk chat JS
    ============================================ -->
<!-- <script src="/js/tawk-chat.js"></script> -->
{{/section}}