<!-- Start Left menu area -->
<div class="left-sidebar-pro">
    <nav id="sidebar" class="">
        <div class="sidebar-header">
            <a href="/"><img class="main-logo" src="/img/logo/logo.png" alt="" /></a>
            <strong><a href="/"><img src="/img/logo/logosn.png" alt="" /></a></strong>
        </div>
        <div class="left-custom-menu-adp-wrap comment-scrollbar">
            <nav class="sidebar-nav left-sidebar-menu-pro">
                <ul class="metismenu" id="menu1">
                    <li class="active">
                        <a title="Dashboard" href="/" aria-expanded="false">
                        <span class="educate-icon educate-home icon-wrap" aria-hidden="true"></span>
                        <span class="mini-click-non">Dashboard</span></a>
                    </li>
                    <li>
                        <a title="Users" href="/admins" aria-expanded="false">
                            <span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Admins</span></a>
                    </li>
                    <li>
                        <a title="Users" href="/users" aria-expanded="false">
                            <span class="educate-icon educate-professor icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Guests</span></a>
                    </li>
                    <li>
                        <a title="Brands" href="/brands" aria-expanded="false">
                            <span class="educate-icon educate-department icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Brands</span></a>
                    </li>
                    <li>
                        <a title="Brands" href="/categories" aria-expanded="false">
                            <span class="educate-icon educate-menu icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Categories</span></a>
                    </li>
                    <li>
                        <a title="Products" href="/products" aria-expanded="false">
                            <span class="educate-icon educate-course icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Products</span></a>
                    </li>
                    <li>
                        <a title="Orders" href="/orders" aria-expanded="false">
                            <span class="educate-icon educate-form icon-wrap" aria-hidden="true"></span>
                            <span class="mini-click-non">Orders</span></a>
                    </li>
                </ul>
            </nav>
        </div>
    </nav>
</div>
<!-- End Left menu area -->