{{#section 'head'}}
<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Orders</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/css/owl.carousel.css">
    <link rel="stylesheet" href="/css/owl.theme.css">
    <link rel="stylesheet" href="/css/owl.transitions.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/css/normalize.css">
    <!-- meanmenu icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/meanmenu.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/css/main.css">
    <!-- educate icon CSS
		============================================ -->
    <link rel="stylesheet" href="/css/educate-custon-icon.css">
    <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="/css/modals.css">
    <!-- morrisjs CSS
		============================================ -->
    <link rel="stylesheet" href="/css/morrisjs/morris.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- metisMenu CSS
		============================================ -->
    <link rel="stylesheet" href="/css/metisMenu/metisMenu.min.css">
    <link rel="stylesheet" href="/css/metisMenu/metisMenu-vertical.css">
    <!-- calendar CSS
		============================================ -->
    <link rel="stylesheet" href="/css/calendar/fullcalendar.min.css">
    <link rel="stylesheet" href="/css/calendar/fullcalendar.print.min.css">
    <!-- x-editor CSS
		============================================ -->
    <link rel="stylesheet" href="/css/editor/select2.css">
    <link rel="stylesheet" href="/css/editor/datetimepicker.css">
    <link rel="stylesheet" href="/css/editor/bootstrap-editable.css">
    <link rel="stylesheet" href="/css/editor/x-editor-style.css">
    <!-- normalize CSS
        ============================================ -->
    <link rel="stylesheet" href="/css/data-table/bootstrap-table.css">
    <link rel="stylesheet" href="/css/data-table/bootstrap-editable.css">
       <!-- buttons CSS
		============================================ -->
    <link rel="stylesheet" href="/css/buttons.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <link rel="stylesheet" href="/css/my-css.css">
    <script src="js/vendor/modernizr-2.8.3.min.js"></script>
{{/section}}

<div class="product-status mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="product-status-wrap drp-lst">
                    <h4>All Orders</h4>
                    <div class="asset-inner" style="overflow-y: unset;">
                        <table>
                            <tr>
                                <th>No.</th>
                                <th>Order ID</th>
                                <th>Orderer</th>
                                <th>Ordered on</th>
                                <th>Total</th>
                                <th style="width: 20%;">Status</th>
								<th style="width: 5%;">Action</th>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>OD123</td>
                                <td>Rory Darrell</td>
                                <td>15/11/2021</td>
                                <td>$225.00</td>
                                <td>
                                     <div class="button-drop-style-one btn-default-bg" style="position: relative;">
                                        <button type="button" class="btn btn-custon-four btn-default dropdown-toggle my-status-select-btn" data-toggle="dropdown">Completed <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu btn-dropdown-menu  my-status-option-list" role="menu">
                                            <li class="my-status-option"><a >Pending confirmation </a></li>
                                            <li class="my-status-option"><a >Confirmed </a></li>
                                            <li class="my-status-option"><a >Pick by courier </a></li>
                                            <li class="my-status-option"><a >On their way </a></li>
                                            <li class="my-status-option"><a >Arrived </a></li>
                                            <li class="my-status-option"><a >Completed </a></li>
											<li class="my-status-option"><a >Canceled </a></li>

                                        </ul>
                                    </div>
                                </td>
								<td>
									<a href="/orders/view/1" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
								</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>OD122</td>
                                <td>Kennedy Harrelson</td>
                                <td>14/11/2021</td>
                                <td>$54.00</td>
                                <td>
                                     <div class="button-drop-style-one btn-default-bg" style="position: relative;">
                                        <button type="button" class="btn btn-custon-four btn-default dropdown-toggle my-status-select-btn" data-toggle="dropdown">Completed <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu btn-dropdown-menu  my-status-option-list" role="menu">
                                            <li class="my-status-option"><a >Pending confirmation </a></li>
                                            <li class="my-status-option"><a >Confirmed </a></li>
                                            <li class="my-status-option"><a >Pick by courier </a></li>
                                            <li class="my-status-option"><a >On their way </a></li>
                                            <li class="my-status-option"><a >Arrived </a></li>
                                            <li class="my-status-option"><a >Completed </a></li>
											<li class="my-status-option"><a >Canceled </a></li>
                                        </ul>
                                    </div>
                                </td>
								<td>
									<a href="/orders/view/1" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
								</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>OD121</td>
                                 <td>Kudo Kohari</td>
                                <td>10/11/2021</td>
                                <td>$54.00</td>
                                <td>
                                     <div class="button-drop-style-one btn-default-bg" style="position: relative;">
                                        <button type="button" class="btn btn-custon-four btn-default dropdown-toggle my-status-select-btn" data-toggle="dropdown">Completed <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu btn-dropdown-menu  my-status-option-list" role="menu">
                                            <li class="my-status-option"><a >Pending confirmation </a></li>
                                            <li class="my-status-option"><a >Confirmed </a></li>
                                            <li class="my-status-option"><a >Pick by courier </a></li>
                                            <li class="my-status-option"><a >On their way </a></li>
                                            <li class="my-status-option"><a >Arrived </a></li>
                                            <li class="my-status-option"><a >Completed </a></li>
											<li class="my-status-option"><a >Canceled </a></li>

                                        </ul>
                                    </div>
                                </td>
								<td>
									<a href="/orders/view/1" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
								</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>OD120</td>
                                 <td>Jack Sparrow</td>
                                <td>10/11/2021</td>
                                <td>$54.00</td>
                                <td>
                                     <div class="button-drop-style-one btn-default-bg" style="position: relative;">
                                        <button type="button" class="btn btn-custon-four btn-default dropdown-toggle my-status-select-btn" data-toggle="dropdown">Completed <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu btn-dropdown-menu  my-status-option-list" role="menu">
                                            <li class="my-status-option"><a >Pending confirmation </a></li>
                                            <li class="my-status-option"><a >Confirmed </a></li>
                                            <li class="my-status-option"><a >Pick by courier </a></li>
                                            <li class="my-status-option"><a >On their way </a></li>
                                            <li class="my-status-option"><a >Arrived </a></li>
                                            <li class="my-status-option"><a >Completed </a></li>
											<li class="my-status-option"><a >Canceled </a></li>

                                        </ul>
                                    </div>
                                </td>
								<td>
									<a href="/orders/view/1" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
								</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>OD119</td>
                                 <td>Doctor Strange</td>
                                <td>10/11/2021</td>
                                <td>$54.00</td>
                                <td>
                                    <div class="button-drop-style-one btn-default-bg" style="position: relative;">
                                        <button type="button" class="btn btn-custon-four btn-default dropdown-toggle my-status-select-btn" data-toggle="dropdown">Completed <i class="fa fa-angle-down"></i></button>
                                        <ul class="dropdown-menu btn-dropdown-menu  my-status-option-list" role="menu">
                                            <li class="my-status-option"><a >Pending confirmation </a></li>
                                            <li class="my-status-option"><a >Confirmed </a></li>
                                            <li class="my-status-option"><a >Pick by courier </a></li>
                                            <li class="my-status-option"><a >On their way </a></li>
                                            <li class="my-status-option"><a >Arrived </a></li>
                                            <li class="my-status-option"><a >Completed </a></li>
											<li class="my-status-option"><a >Canceled </a></li>

                                        </ul>
                                    </div>
                                </td>
								<td>
									<a href="/orders/view/1" style="color: black;"><button data-toggle="tooltip" title="Details" class="pd-setting-ed"><i class="fa fa-info-circle" aria-hidden="true"></i></button></a>
								</td>
                            </tr>
                        </table>
                    </div>
                                    
                   
                    <div class="custom-pagination">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{#section 'script'}}
<!-- jquery
    ============================================ -->
<script src="js/vendor/jquery-1.12.4.min.js"></script>
<!-- bootstrap JS
    ============================================ -->
<script src="js/bootstrap.min.js"></script>
<!-- wow JS
    ============================================ -->
<script src="js/wow.min.js"></script>
<!-- price-slider JS
    ============================================ -->
<script src="js/jquery-price-slider.js"></script>
<!-- meanmenu JS
    ============================================ -->
<script src="js/jquery.meanmenu.js"></script>
<!-- owl.carousel JS
    ============================================ -->
<script src="js/owl.carousel.min.js"></script>
<!-- sticky JS
    ============================================ -->
<script src="js/jquery.sticky.js"></script>
<!-- scrollUp JS
    ============================================ -->
<script src="js/jquery.scrollUp.min.js"></script>
<!-- counterup JS
    ============================================ -->
<script src="js/counterup/jquery.counterup.min.js"></script>
<script src="js/counterup/waypoints.min.js"></script>
<script src="js/counterup/counterup-active.js"></script>
<!-- mCustomScrollbar JS
    ============================================ -->
<script src="js/scrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="js/scrollbar/mCustomScrollbar-active.js"></script>
<!-- metisMenu JS
    ============================================ -->
<script src="js/metisMenu/metisMenu.min.js"></script>
<script src="js/metisMenu/metisMenu-active.js"></script>
<!-- data table JS
    ============================================ -->
<script src="js/data-table/bootstrap-table.js"></script>
<script src="js/data-table/tableExport.js"></script>
<script src="js/data-table/data-table-active.js"></script>
<script src="js/data-table/bootstrap-table-editable.js"></script>
<script src="js/data-table/bootstrap-editable.js"></script>
<script src="js/data-table/bootstrap-table-resizable.js"></script>
<script src="js/data-table/colResizable-1.5.source.js"></script>
<script src="js/data-table/bootstrap-table-export.js"></script>
<!--  editable JS
    ============================================ -->
<script src="js/editable/jquery.mockjax.js"></script>
<script src="js/editable/mock-active.js"></script>
<script src="js/editable/select2.js"></script>
<script src="js/editable/moment.min.js"></script>
<script src="js/editable/bootstrap-datetimepicker.js"></script>
<script src="js/editable/bootstrap-editable.js"></script>
<script src="js/editable/xediable-active.js"></script>
<!-- Chart JS
    ============================================ -->
<script src="js/chart/jquery.peity.min.js"></script>
<script src="js/peity/peity-active.js"></script>
<!-- tab JS
    ============================================ -->
<script src="js/tab.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/morrisjs/raphael-min.js"></script>
<script src="js/morrisjs/morris.js"></script>
<script src="js/morrisjs/morris-active.js"></script>
<!-- morrisjs JS
    ============================================ -->
<script src="js/sparkline/jquery.sparkline.min.js"></script>
<script src="js/sparkline/jquery.charts-sparkline.js"></script>
<script src="js/sparkline/sparkline-active.js"></script>
<!-- calendar JS
    ============================================ -->
<script src="js/calendar/moment.min.js"></script>
<script src="js/calendar/fullcalendar.min.js"></script>
<script src="js/calendar/fullcalendar-active.js"></script>
<!-- plugins JS
    ============================================ -->
<script src="js/plugins.js"></script>
<!-- main JS
    ============================================ -->
<script src="js/main.js"></script>
<!-- tawk chat JS
    ============================================ -->
<!-- <script src="js/tawk-chat.js"></script> -->

<script>
	$(document).ready(function(){
		let myStatusBtn = document.getElementsByClassName("my-status-select-btn");
		let myStatusOptions = document.getElementsByClassName('my-status-option');
		let n = myStatusOptions.length;
		for(let i = 0 ; i < n ; i++){
			myStatusOptions[i].addEventListener("click", function(){
				console.log(i);
				myStatusBtn[Math.floor(i/7)].innerHTML = myStatusOptions[i].textContent + ' <i class="fa fa-angle-down"></i>';	
			})
		}
	})
</script>
{{/section}}